<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Dynamic Meta Tags -->
    <title><%- title %></title>
    <meta name="description" content="<%- description %>">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%- ogUrl %>">
    <meta property="og:title" content="<%- title %>">
    <meta property="og:description" content="<%- description %>">
    <meta property="og:image" content="<%- defaultImage %>">
    
    <!-- Twitter -->
    <!-- <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%- title %>">
    <meta name="twitter:description" content="<%- description %>">
    <meta name="twitter:image" content="<%- defaultImage %>"> -->

    <!-- Favicon and Styles -->
    <link rel="shortcut icon" href="/assets/images/logo/favicon.png">
    <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/aos-animation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
  </head>
  <body class="position-relative">
    <div id="root"></div>
    <script type="module" src="/src/main.jsx"></script>
  </body>
</html>