<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <rewrite>
        <rules>
		        <rule name="https" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
        <rule name="CanonicalHostNameRule1" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^redeemmoneytransfer\.net$" negate="true" />
          </conditions>
          <action type="Redirect" url="https://redeemtransfer.net/{R:1}" />
        </rule>	

          <rule name="Reverse Proxy to api" stopProcessing="true">
            <match url="^api/(.*)" />
            <action type="Rewrite" url="https://redeemtransfer.net/{R:0}" />
          </rule>
          <rule name="Reverse Proxy to pusher" stopProcessing="true">
            <match url="^pusher/(.*)" />
            <action type="Rewrite" url="https://redeemtransfer.net/{R:0}" />
          </rule>
          <rule name="React Routes" stopProcessing="true">
            <match url=".*" />
            <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="/" />
          </rule>
        </rules>
      </rewrite>
      <httpProtocol>
        <customHeaders>
          <remove name="X-Powered-By" />
          <add name="X-UA-Compatible" value="IE=EmulateIE10" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="Content-Security-Policy" value="default-src https: wss:; frame-ancestors 'self' https://redeemtransfer.net/https://payments.securetrading.net; connect-src https: wss:; font-src https: wss: data:; frame-src https: wss:; img-src https: wss: data:; media-src https: wss:; object-src https: wss:; script-src 'unsafe-inline' 'unsafe-eval' https: wss:; style-src 'unsafe-inline' https: wss:; worker-src 'unsafe-inline' blob: https: wss:;" />
          <add name="Expect-CT" value="enforce, max-age=43200" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="Access-Control-Allow-Origin" value="*" />
        </customHeaders>
      </httpProtocol>
    </system.webServer>
  </location>
</configuration>